@model IEnumerable<CasoPractico2_MacoteloYaritza_LopezJoselyn.Models.Venta>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de ventas</h1>

@if (SignInManager.IsSignedIn(User))
    {
<p>
    <a class="btn btn-primary" asp-action="Create">+ Agregar venta</a>
</p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreVendedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProductoNavigation.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreVendedorNavigation.NombreVendedor)
            </td>
                @if (SignInManager.IsSignedIn(User))
                {
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdVenta">Editar</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdVenta">Datos</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdVenta">Eliminar</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
