@model IEnumerable<CasoPractico2_MacoteloYaritza_LopezJoselyn.Models.CategoriasProducto>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Lista de categorías</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p>
            <a class="btn btn-primary" asp-action="Create">+ Agregar categoría</a>
        </p>
    }
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCategoria)
                </td>
                @if (SignInManager.IsSignedIn(User))
                {
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.NombreCategoria">Editar</a> 
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.NombreCategoria">Datos</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NombreCategoria">Eliminar</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
